In [ ]:
import pandas as pd

# Initialize lists to store data
ranks = []
cities = []
countries = []
scores = []

# Open the text file
with open('QS_Best_Student_Cities_2024.txt', 'r') as file:
    lines = file.readlines()

# Loop through the lines and extract information
for i in range(0, len(lines), 4):
    rank = lines[i].strip()
    city = lines[i+1].strip()
    country = lines[i+2].strip()
    score = float(lines[i+3].strip())

    # Append data to lists
    ranks.append(rank)
    cities.append(city)
    countries.append(country)
    scores.append(score)

# Create a DataFrame
df = pd.DataFrame({
    'Rank': ranks,
    'City': cities,
    'Country': countries,
    'Score': scores
})

for index, row in df.iterrows():
  print(f'{row["Rank"]} | {row["City"]} | {row["Country"]} | {row["Score"]}\n')

1 | London | United Kingdom | 100.0

2 | Tokyo | Japan | 98.0

3 | Seoul | South Korea | 97.6

4 | Melbourne | Australia | 97.3

5 | Munich | Germany | 97.1

6 | Paris | France | 96.3

7 | Sydney | Australia | 96.2

=8 | Berlin | Germany | 95.0

=8 | Zurich | Switzerland | 95.0

10 | Boston | United States | 92.3

11 | Toronto | Canada | 92.1

12 | Vienna | Austria | 91.1

13 | Montreal | Canada | 90.9

14 | Kyoto-Osaka-Kobe | Japan | 90.8

15 | Singapore | Singapore | 90.7

16 | Edinburgh | United Kingdom | 90.2

17 | New York | United States | 89.6

18 | Vancouver | Canada | 88.7

19 | Lausanne | Switzerland | 87.5

20 | San Francisco | United States | 87.4

21 | Hong Kong SAR | Hong Kong SAR | 86.5

=22 | Brisbane | Australia | 86.2

=22 | Stockholm | Sweden | 86.2

=24 | Amsterdam | Netherlands | 86.1

=24 | Kuala Lumpur | Malaysia | 86.1

26 | Adelaide | Australia | 86.0

=27 | Los Angeles | United States | 85.0

=27 | Madrid | Spain | 85.0

29 | Auckland | New Zealand | 84.8

=30 | Canberra | Australia | 83.9

=30 | Manchester | United Kingdom | 83.9

32 | Dublin | Ireland | 83.7

33 | Taipei | Taiwan | 83.5

=34 | Buenos Aires | Argentina | 83.0

=34 | Perth | Australia | 83.0

36 | Glasgow | United Kingdom | 82.9

37 | Beijing | China (Mainland) | 81.8

38 | Barcelona | Spain | 81.6

=39 | Chicago | United States | 81.5

=39 | Leuven | Belgium | 81.5

=39 | Newcastle Upon Tyne | United Kingdom | 81.5

=39 | Prague | Czech Republic | 81.5

43 | Copenhagen | Where to Study- Denmark | 79.8

=44 | Bristol | United Kingdom | 78.4

=44 | Coventry | United Kingdom | 78.4

=44 | Lyon | France | 78.4

47 | Santiago | Chile | 76.9

48 | Shanghai | China (Mainland) | 76.8

49 | Birmingham | United Kingdom | 76.5

50 | Brussels | Belgium | 76.4

51 | Gothenburg | Sweden | 76.3

52 | Nottingham | United Kingdom | 76.1

53 | Milan | Italy | 75.9

54 | Dubai | United Arab Emirates | 75.8

55 | Leeds | United Kingdom | 74.7

56 | Rome | Italy | 74.5

57 | Ottawa | Canada | 74.0

58 | Liverpool | United Kingdom | 73.8

59 | Atlanta | United States | 73.4

=60 | Belfast | United Kingdom | 72.9

=60 | Warsaw | Poland | 72.9

62 | Washington DC | United States | 72.6

=63 | Brno | Czech Republic | 72.3

=63 | Philadelphia | United States | 72.3

65 | Helsinki | Finland | 71.2

66 | San Diego | United States | 70.8

67 | Turin | Italy | 70.5

68 | Sheffield | United Kingdom | 70.4

69 | Mexico City | Mexico | 70.2

70 | Budapest | Hungary | 70.1

71 | Bangkok | Thailand | 68.9

72 | Lisbon | Portugal | 68.7

73 | Daejeon | South Korea | 68.0

74 | Christchurch | New Zealand | 67.7

75 | Istanbul | Türkiye | 67.5

76 | Aberdeen | United Kingdom | 67.4

77 | Pittsburgh | United States | 66.7

=78 | Brighton | United Kingdom | 66.2

=78 | Miami | United States | 66.2

80 | Hamburg | Germany | 65.5

81 | Almaty | Kazakhstan | 65.4

82 | Oslo | Norway | 65.3

83 | Seattle | United States | 65.1

84 | Toulouse | France | 64.7

85 | Abu Dhabi | United Arab Emirates | 64.6

86 | Cape Town | South Africa | 62.9

87 | Gold Coast | Australia | 62.6

88 | Durham | United States | 62.5

89 | Baltimore | United States | 62.2

=90 | Bogota | Colombia | 61.9

=90 | Cairo | Egypt | 61.9

=90 | Valencia | Spain | 61.9

93 | Krakow | Poland | 61.8

94 | Stuttgart | Germany | 61.6

95 | Graz | Austria | 61.1

96 | Monterrey | Mexico | 60.9

97 | Sao Paulo | Brazil | 60.7

98 | Athens | Greece | 60.6

=99 | Hsinchu | Taiwan | 60.5

=99 | Nanjing | China (Mainland) | 60.5

101 | Ankara | Türkiye | 60.2

102 | Leicester | United Kingdom | 60.1

103 | Amman | Jordan | 59.4

104 | Johannesburg | South Africa | 59.2

105 | Pretoria | South Africa | 58.5

106 | Doha | Qatar | 58.4

107 | Houston | United States | 58.2

108 | Tainan | Taiwan | 58.1

109 | Wuhan | China (Mainland) | 58.0

110 | Riyadh | Saudi Arabia | 57.6

111 | Quebec | Canada | 57.5

112 | Lima | Peru | 57.2

113 | Nagoya | Japan | 56.6

114 | Subang Jaya | Malaysia | 56.2

=115 | Manila | Philippines | 55.7

=115 | Shah Alam | Malaysia | 55.7

117 | Riga | Latvia | 55.6

118 | Mumbai | India | 54.7

119 | Vilnius | Lithuania | 54.1

120 | Beirut | Lebanon | 53.4

121 | Astana | Kazakhstan | 53.2

122 | Jakarta | Indonesia | 52.7

123 | Dallas | United States | 52.3

124 | Hannover | Germany | 52.2

125 | Quito | Ecuador | 52.0

126 | Yogyakarta | Indonesia | 51.4

127 | Wroclaw | Poland | 51.2

128 | Busan | South Korea | 50.7

129 | Taichung | Taiwan | 50.2

130 | Montpellier | France | 49.9

131 | Tallinn | Estonia | 49.6

132 | Delhi | India | 49.4

133 | Bandung | Indonesia | 49.3

134 | Guangzhou | China (Mainland) | 49.1

135 | Panama City | Panama | 48.7

136 | Valparaiso | Chile | 48.5

137 | Cluj-Napoca | Romania | 48.4

138 | Rio de Janeiro | Brazil | 47.9

139 | Medellin | Colombia | 47.5

140 | Bratislava | Slovakia | 47.4

141 | Bucharest | Romania | 46.9

142 | Poznań | Poland | 46.8

143 | Macau | Macau SAR | 46.4

144 | Kaunas | Lithuania | 46.3

145 | Surabaya | Indonesia | 45.9

146 | Tianjin | China (Mainland) | 45.2

147 | Bangalore | India | 45.0

148 | Gwangju | South Korea | 44.4

=149 | Dhaka | Bangladesh | 44.1

=149 | Xi'an | China (Mainland) | 44.1

151-160 | Albany | United States | 42.9

151-160 | Bilbao | Spain | 42.3

151-160 | Chennai | India | 43.0

151-160 | Daegu | South Korea | 42.5

151-160 | Gdańsk | Poland | 42.4

151-160 | Harbin | China (Mainland) | 42.1

151-160 | Izmir | Türkiye | 43.4

151-160 | San Jose | Costa Rica | 43.5

151-160 | Taoyuan District | Taiwan | 43.6

151-160 | Timisoara | Romania | 42.7

In [ ]:
df.to_excel('QS_Best_Student_Cities_2024.xlsx', index=False)