# ***Libraries***

In [ ]:
# Import the required libraries
import pandas as pd
import openpyxl
from openpyxl import load_workbook
import numpy as np
import re

# ***QS 2024 World University Rankings***

In [ ]:
QS_2024_Dataset = pd.read_excel("2024 QS World University Rankings 1.2 (For qs.com).xlsx")

In [ ]:
QS_2024_Dataset.head()

,2024 QS World University Rankings,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,2024,2023,Institution Name,Location,NaN,Classification,NaN,NaN,NaN,Academic Reputation,...,NaN,International Students,NaN,International Research Network,NaN,Employment Outcomes,NaN,Sustainability,NaN,Overall
1,RANK,RANK,NaN,NaN,Location,SIZE,FOCUS,RES.,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Score,Rank,SCORE
2,rank display,rank display2,institution,location code,location,size,focus,research,status,ar score,...,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,SUS SCORE,SUS RANK,Overall Score
3,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,B,100,...,56,88.2,128,94.3,58,100,4,95.2,51,100
4,2,2,University of Cambridge,UK,United Kingdom,L,FC,VH,A,100,...,64,95.8,85,99.9,7,100,6,97.3,33=,99.2

In [ ]:
QS_2024_DataFrame = pd.DataFrame(QS_2024_Dataset.iloc[3:, :])
QS_2024_DataFrame.head()

,2024 QS World University Rankings,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
3,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,B,100,...,56,88.2,128,94.3,58,100,4,95.2,51,100
4,2,2,University of Cambridge,UK,United Kingdom,L,FC,VH,A,100,...,64,95.8,85,99.9,7,100,6,97.3,33=,99.2
5,3,4,University of Oxford,UK,United Kingdom,L,FC,VH,A,100,...,110,98.2,60,100,1,100,3,97.8,26=,98.9
6,4,5,Harvard University,US,United States,L,FC,VH,B,100,...,210,66.8,223,100,5,100,1,96.7,39,98.3
7,5,3,Stanford University,US,United States,L,FC,VH,B,100,...,78,51.2,284,95.8,44,100,2,94.4,63,98.1

In [ ]:
# Rename the indexes ====================================

print(f'Original length of DataFrame indexes: {len(QS_2024_DataFrame.index)}\n'
        f'Last original row index: {QS_2024_DataFrame.index[-1]}\n'
        f'First original row index: {QS_2024_DataFrame.index[0]}')

new_DataFrame_indexes = range(1,len(QS_2024_DataFrame.index)+1)
new_DataFrame_index_dict = {}
for i in range(len(QS_2024_DataFrame.index)):
  new_DataFrame_index_dict[QS_2024_DataFrame.index[i]] = new_DataFrame_indexes[i]

print(f'\nNew length of DataFrame indexes: {len(new_DataFrame_index_dict)}\n'
      f'Last new row index: {new_DataFrame_index_dict[QS_2024_DataFrame.index[-1]]}\n'
      f'First new row index: {new_DataFrame_index_dict[QS_2024_DataFrame.index[0]]}\n')

QS_2024_DataFrame = QS_2024_DataFrame.rename(new_DataFrame_index_dict, axis='index')

# Rename the columns ====================================

new_DataFrame_columns = QS_2024_Dataset.iloc[2].iloc[:]
new_DataFrame_columns_dict = {}

for i in range(len(QS_2024_Dataset.columns)):
  new_DataFrame_columns_dict[QS_2024_DataFrame.columns[i]] = new_DataFrame_columns[i]


QS_2024_DataFrame = QS_2024_DataFrame.rename(new_DataFrame_columns_dict, axis='columns')

QS_2024_DataFrame

Original length of DataFrame indexes: 1498
Last original row index: 1500
First original row index: 3

New length of DataFrame indexes: 1498
Last new row index: 1498
First new row index: 1

,rank display,rank display2,institution,location code,location,size,focus,research,status,ar score,...,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,SUS SCORE,SUS RANK,Overall Score
1,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,B,100,...,56,88.2,128,94.3,58,100,4,95.2,51,100
2,2,2,University of Cambridge,UK,United Kingdom,L,FC,VH,A,100,...,64,95.8,85,99.9,7,100,6,97.3,33=,99.2
3,3,4,University of Oxford,UK,United Kingdom,L,FC,VH,A,100,...,110,98.2,60,100,1,100,3,97.8,26=,98.9
4,4,5,Harvard University,US,United States,L,FC,VH,B,100,...,210,66.8,223,100,5,100,1,96.7,39,98.3
5,5,3,Stanford University,US,United States,L,FC,VH,B,100,...,78,51.2,284,95.8,44,100,2,94.4,63,98.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,1401+,NaN,University of Stavanger,NO,Norway,NaN,CO,NaN,NaN,7.2,...,NaN,NaN,NaN,26.3,489,NaN,NaN,NaN,NaN,-
1495,1401+,1201-1400,"University Politehnica of Timisoara, UPT",RO,Romania,M,FO,VH,A,4,...,701+,2.9,701+,1.3,701+,8.5,701+,1,701+,-
1496,1401+,1201-1400,Western Washington University,US,United States,L,CO,HI,NaN,2.8,...,676,1.4,701+,1,701+,7.3,701+,NaN,NaN,-
1497,1401+,NaN,Zürcher Hochschule Winterthur,CH,Switzerland,NaN,CO,NaN,NaN,5.7,...,NaN,NaN,NaN,1.7,701+,NaN,NaN,NaN,NaN,-
1498,721-730,NaN,Osaka Metropolitan University,JP,Japan,L,FC,VH,NaN,13.4,...,701+,3.6,701+,1.9,701+,47.9,143,1.2,701+,-

In [ ]:
QS_2024_DataFrame.to_csv("QS 2024 World University Rankings.csv")

# ***QS 2024 World University Rankings by Subject***

In [ ]:
wur_subject = pd.read_excel("2024 QS WUR by Subject - Public Results (for qs.com)_56.xlsx", sheet_name=None)

In [ ]:
def extract_inner_tables_as_dataframes(file_path):
    # Load the Excel workbook
    wb = load_workbook(filename=file_path, read_only=True)

    # Initialize a list to store the DataFrames for each sheet
    dataframes = []

    # Iterate over each sheet in the workbook
    for sheet_name in wb.sheetnames:
        # Access the current sheet
        sheet = wb[sheet_name]

        # Extract data from the sheet and store it in a list of lists
        table_data = []
        for row in sheet.iter_rows(values_only=True):
            table_data.append(row)

        # Create a DataFrame from the table data
        df = pd.DataFrame(table_data)

        # Add the DataFrame to the list
        dataframes.append(df)

    # Close the workbook
    wb.close()

    return dataframes

dataframes = extract_inner_tables_as_dataframes("2024 QS WUR by Subject - Public Results (for qs.com)_56.xlsx")
dataframes = dataframes[1:]

In [ ]:
print(f'Number of Dataframes/Subjects: {len(dataframes)}')

Number of Dataframes/Subjects: 60

In [ ]:
# Get the names of the subjects
subject_names = []
for df in dataframes:
  subject_names.append(df.iloc[1][0])

In [ ]:
print(f'Number of subjects: {len(subject_names)}')

Number of subjects: 60

In [ ]:
for subject in subject_names:
  print(subject)

Arts & Humanities
Archaeology
Architecture / Built Environment
Art & Design
History of Art
Classics & Ancient History
English Language & Literature
History
Linguistics
Modern Languages
Modern Languages
Performing Arts
Philosophy
Theology, Divinity & Religious Studies
Engineering & Technology
Engineering - Chemical
Computer Science
Engineering - Civil & Structural
Engineering - Electrical & Electronic
Engineering - Mechanical, Aeronautical & Manufacturing
Data Science
Engineering - Mineral & Mining
Petroleum Engineering
Life Sciences & Medicine
Agriculture & Forestry
Anatomy & Physiology
Biological Sciences
Dentistry
Medicine
Nursing
Pharmacy & Pharmacology
Psychology
Veterinary Science
Natural Sciences
Chemistry
Earth & Marine Sciences
Environmental Sciences
Geography
Geology
Geophysics
Materials Science
Mathematics
Physics & Astronomy
Social Sciences & Management
Accounting & Finance
Anthropology
Business & Management Studies
Communication & Media Studies
Development Studies
Economics & Econometrics
Education
Hospitality & Leisure Management
Law
Library & Information Management
Politics & International Studies
Social Policy & Administration
Sociology
Sports-related Subjects
Marketing
Statistics & Operational Research

In [ ]:
def process_dataframes(dataframes):
    for df in dataframes:
        # Initialize variables to store row and column indices
        row_index = None
        col_index = None

        # Search for the values "2024" and "2023" in the first and second columns
        for index, row in df.iterrows():
            if "2024" == row[0]:
                row_index = index

            # If both values are found, exit the loop
            if row_index is not None:
                break

        # Search for the value "None" in the same row
        if row_index is not None:
            for index, value in enumerate(df.iloc[row_index]):
                if value is None:
                    col_index = index - 1
                    break

        # Delete rows above the marked row
        if row_index is not None:
            df.drop(df.index[:row_index], inplace=True)

        # Delete columns to the right of the marked column
        if col_index is not None:
            df.drop(df.columns[col_index + 1:], axis=1, inplace=True)

# Example usage
process_dataframes(dataframes)

In [ ]:
for df in dataframes:
  # Set the first row as the column names
  df.columns = df.iloc[0]

  # Delete the first row
  df.drop(df.index[0], inplace=True)

  # Start the index from 0
  df.reset_index(drop=True, inplace=True)

  # Delete the name of the first column
  df.columns.name = None

Drop the nan columns from the dataframes

In [ ]:
for df in dataframes:
  if str(df.columns[-1]) == 'nan':
    df.drop(df.columns[-1], axis=1, inplace=True)

Print the number of the dataframe if its last column is not "Score"

In [ ]:
index = 0
for df in dataframes:
  if df.columns[-1] != 'Score':
    print(f'Column error in dataframe:{index}')
  index += 1

Keep only the columns we are interested in

In [ ]:
for i in range(len(dataframes)):
    dataframes[i] = dataframes[i][["2024", "Institution", "Location", "Score"]]

Check if there are any universities missing from one of the dataframes.

In [ ]:
for index, df in enumerate(dataframes):
  if df['Institution'].isnull().any():
    print(f"DataFrame at index {index} has null values in column 'Institution'. The subject is {subject_names[index]}")
    print(df[df['Institution'].isnull()])
    print("\n")

    dataframes[index] = df.dropna(subset=['Institution'])

DataFrame at index 40 has null values in column 'Institution'. The subject is Materials Science
     2024 Institution Location Score
420  None        None     None  None
421  None        None     None  None
422  None        None     None  None


DataFrame at index 47 has null values in column 'Institution'. The subject is Communication & Media Studies
     2024 Institution Location Score
250  None        None     None  None
251  None        None     None  None


DataFrame at index 57 has null values in column 'Institution'. The subject is Sports-related Subjects
     2024 Institution Location Score
140  None        None     None  None
141  None        None     None  None
142  None        None     None  None

In [ ]:
print(dataframes[40].shape)
print(dataframes[47].shape)
print(dataframes[57].shape)

(427, 4)
(582, 4)
(472, 4)

In [ ]:
dataframes[40].dropna(inplace=True)
dataframes[47].dropna(inplace=True)
dataframes[57].dropna(inplace=True)

In [ ]:
print(dataframes[40].shape)
print(dataframes[47].shape)
print(dataframes[57].shape)

(424, 4)
(580, 4)
(379, 4)

Check if the 'Location', 'Score', and '2024' columns have any missing values.

In [ ]:
for index, df in enumerate(dataframes):
  if df['2024'].isnull().any():
    print(f"DataFrame at index {index} has null values in column 'Institution'. The subject is {subject_names[index]}")

  if df['Location'].isnull().any():
    print(f"DataFrame at index {index} has null values in column 'Location'. The subject is {subject_names[index]}")

  # Score is the only one with null values
  if df['Score'].isnull().any():
    print(f"DataFrame at index {index} has null values in column 'Score'. The subject is {subject_names[index]}")
    print(df[df['Score'].isnull()])
    print("\n")

    #dataframes[index] = df.dropna(subset=['Score'])

DataFrame at index 12 has null values in column 'Score'. The subject is Philosophy
    2024 Institution Location Score
213                            None
214                            None
215                            None
216                            None
217                            None
..   ...         ...      ...   ...
538                            None
539                            None
540                            None
541                            None
542                            None

[330 rows x 4 columns]


DataFrame at index 51 has null values in column 'Score'. The subject is Hospitality & Leisure Management
   2024                                        Institution  \
0     1  Ecole hôtelière de Lausanne (EHL Hospitality B...
1     2               SHMS - Swiss Hotel Management School
2     3                                Cesar Ritz Colleges
3     4                   University of Nevada - Las Vegas
4     5            Les Roches Global Hospitality Education
5     6                     Hotel Institute Montreux - HIM
6     7                  Culinary Arts Academy Switzerland
7     8                Glion Institute of Higher Education
8     9  The Emirates Academy of Hospitality Management...
9    10                              Hotelschool The Hague
10   11               The Hong Kong Polytechnic University
11   12         Macao Institute for Tourism Studies (IFTM)
12   13                                 Hotel School Vatel
13   14  Cornell University | School of Hotel Administr...
14   15                               University of Surrey
15   16  Escuela Universitaria de hosteleria y turismo ...
16  =17  IMI-Luzern - International Hotel Management Sc...
17  =17                             Bournemouth University
18   19                                Taylor's University
19   20                          Oxford Brookes University
20   21  Pennsylvania State University | School of Hosp...
21   22                      University of Central Florida
22   23  Hotel and Tourism Management Institute, Switze...
23   24                                Griffith University
24   25  Blue Mountains International Hotel Management ...
25   26  Virginia Polytechnic Institute and State Unive...
26   27                       The University of Queensland
27   28          NHTV Breda University of Applied Sciences
28  =29                  Management and Science University
29  =29                           Florida State University
30  =31                   Florida International University
31  =31                              University of Florida
32   33                                University of Derby
33   34  Nanyang Technological University, Singapore (NTU)
34   35                              University of Houston
35   36                          Michigan State University
36   37                        Washington State University
37   38  National Kaohsiung University of Hospitality a...
38   39                     Ural Federal University - UrFU
39   40        Business and hotel management school - bhms
40   41                               Texas A&M University
41   42                                  Purdue University
42   43                                 Sejong University
43   44                                University of Otago
44   45                                  Temple University
45   46                     University of Hawaiʻi at Mānoa
46  =47                          University of Strathclyde
47  =47                  Lomonosov Moscow State University
48  =49   L.N. Gumilyov Eurasian National University (ENU)
49  =49          Plekhanov Russian University of Economics

                Location Score
0            Switzerland  None
1            Switzerland  None
2            Switzerland  None
3          United States  None
4            Switzerland  None
5            Switzerland  None
6            Switzerland  None
7            Switzerland  None
8   United Arab Emirates  None
9            Netherlands  None
10         Hong Kong SAR  None
11             Macau SAR  None
12                France  None
13         United States  None
14        United Kingdom  None
15                 Spain  None
16           Switzerland  None
17        United Kingdom  None
18              Malaysia  None
19        United Kingdom  None
20         United States  None
21         United States  None
22           Switzerland  None
23             Australia  None
24             Australia  None
25         United States  None
26             Australia  None
27           Netherlands  None
28              Malaysia  None
29         United States  None
30         United States  None
31         United States  None
32        United Kingdom  None
33             Singapore  None
34         United States  None
35         United States  None
36         United States  None
37                Taiwan  None
38                Russia  None
39           Switzerland  None
40         United States  None
41         United States  None
42           South Korea  None
43           New Zealand  None
44         United States  None
45         United States  None
46        United Kingdom  None
47                Russia  None
48            Kazakhstan  None
49                Russia  None


DataFrame at index 57 has null values in column 'Score'. The subject is Sports-related Subjects
        2024                         Institution          Location Score
50    51-100            Arizona State University     United States  None
51    51-100      Australian Catholic University         Australia  None
52    51-100                   Boston University     United States  None
53    51-100                  Cornell University     United States  None
54    51-100                   Curtin University         Australia  None
..       ...                                 ...               ...   ...
135  101-140              University of Stirling    United Kingdom  None
136  101-140            University of Wollongong         Australia  None
137  101-140    Vrije Universiteit Brussel (VUB)           Belgium  None
138  101-140  Washington University in St. Louis     United States  None
139  101-140                 Zhejiang University  China (Mainland)  None

[90 rows x 4 columns]

Add an extra column named after the subject

In [ ]:
for i in range(len(dataframes)):
  dataframes[i]['Subject'] = subject_names[i]

In [ ]:
dataframes[0].head()

,2024,Institution,Location,Score,Subject
0,1,Harvard University,United States,97.9,Arts & Humanities
1,2,University of Cambridge,United Kingdom,96.9,Arts & Humanities
2,3,University of Oxford,United Kingdom,96.8,Arts & Humanities
3,4,Stanford University,United States,93.7,Arts & Humanities
4,5,"University of California, Berkeley (UCB)",United States,92.1,Arts & Humanities

In [ ]:
wur_subject = pd.concat(dataframes, ignore_index=True)

In [ ]:
wur_subject.shape

(32151, 5)

In [ ]:
wur_subject.head()

,2024,Institution,Location,Subject
0,1,Harvard University,United States,Arts & Humanities
1,2,University of Cambridge,United Kingdom,Arts & Humanities
2,3,University of Oxford,United Kingdom,Arts & Humanities
3,4,Stanford University,United States,Arts & Humanities
4,5,"University of California, Berkeley (UCB)",United States,Arts & Humanities

In [ ]:
wur_subject.to_csv("QS 2024 WUR by Subject.csv", index=False)

# ***Join on the three QS Datasets***

In [ ]:
wur_subject = pd.read_csv("QS 2024 WUR by Subject.csv")
wur = pd.read_csv("QS 2024 World University Rankings.csv")
student_cities = pd.read_csv("QS Best Student Cities 2024.csv")

In [ ]:
student_cities_filtered = student_cities[student_cities['Country'].isin(wur['location'])]

wur_subject_filtered = wur_subject[wur_subject['Institution'].isin(wur['institution'])]

In [ ]:
print("Number of rows removed from Student Cities:", len(student_cities) - len(student_cities_filtered))
print("Number of rows removed from WUR by Subject:", len(wur_subject) - len(wur_subject_filtered))

Number of rows removed from Student Cities: 4
Number of rows removed from WUR by Subject: 881

In [ ]:
student_cities_filtered.to_csv("QS Best Student Cities 2024 Filtered.csv", index=False)
wur_subject_filtered.to_csv("QS 2024 WUR by Subject Filtered.csv", index=False)

# ***Normalize the Universities, Countries, Cities and Subjects***

In [ ]:
wur_subject = pd.read_csv("QS 2024 WUR by Subject Filtered.csv")
wur = pd.read_csv("QS 2024 World University Rankings.csv")
student_cities = pd.read_csv("QS Best Student Cities 2024 Filtered.csv")

In [ ]:
# Define a function to apply transformations to a single value
def process_value(value):
    # Replace whitespaces with underscore
    modified_value = re.sub(r'\s', '_', value)
    # Remove symbols
    modified_value = re.sub(r'[^a-zA-Z0-9_]', '', modified_value)
    return modified_value

In [ ]:
wur_columns = ['institution', 'location']

for column in wur_columns:
    wur[column] = wur[column].apply(process_value)

wur = pd.DataFrame(wur)

wur.head()

,Unnamed: 0,rank display,rank display2,institution,location code,location,size,focus,research,status,...,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,SUS SCORE,SUS RANK,Overall Score
0,1,1,1,Massachusetts_Institute_of_Technology_MIT_,US,United_States,M,CO,VH,B,...,56,88.2,128,94.3,58,100.0,4,95.2,51,100
1,2,2,2,University_of_Cambridge,UK,United_Kingdom,L,FC,VH,A,...,64,95.8,85,99.9,7,100.0,6,97.3,33=,99.2
2,3,3,4,University_of_Oxford,UK,United_Kingdom,L,FC,VH,A,...,110,98.2,60,100.0,1,100.0,3,97.8,26=,98.9
3,4,4,5,Harvard_University,US,United_States,L,FC,VH,B,...,210,66.8,223,100.0,5,100.0,1,96.7,39,98.3
4,5,5,3,Stanford_University,US,United_States,L,FC,VH,B,...,78,51.2,284,95.8,44,100.0,2,94.4,63,98.1

In [ ]:
wur_subject_columns = ['Institution', 'Location', 'Subject']

for column in wur_subject_columns:
    wur_subject[column] = wur_subject[column].apply(process_value)

wur_subject = pd.DataFrame(wur_subject)

wur_subject.head()

,2024,Institution,Location,Score,Subject
0,1,Harvard_University,United_States,97.9,Arts__Humanities
1,2,University_of_Cambridge,United_Kingdom,96.9,Arts__Humanities
2,3,University_of_Oxford,United_Kingdom,96.8,Arts__Humanities
3,4,Stanford_University,United_States,93.7,Arts__Humanities
4,5,University_of_California_Berkeley_UCB,United_States,92.1,Arts__Humanities

In [ ]:
wur_columns = ['City', 'Country']

for column in wur_columns:
    student_cities[column] = student_cities[column].apply(process_value)

student_cities = pd.DataFrame(student_cities)

student_cities.head()

  Rank       City         Country  Score
0    1     London  United_Kingdom  100.0
1    2      Tokyo           Japan   98.0
2    3      Seoul     South_Korea   97.6
3    4  Melbourne       Australia   97.3
4    5     Munich         Germany   97.1

In [ ]:
student_cities.to_csv("QS Best Student Cities 2024 Filtered.csv", index=False)
wur_subject.to_csv("QS 2024 WUR by Subject Filtered.csv", index=False)
wur.to_csv("QS 2024 World University Rankings Filtered.csv", index=False)